<div class="py-5">
    <div class="container">
        <div>
            <a href="http://clocker.in"><img class="img-fluid d-block rounded-circle mx-auto text-center"
                    src="/img/banner.png" alt="Clocker.in"></a>
        </div>
    </div>
</div>
<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">Please Login
                        <br>
                    </div>
                    <div class="card-body">
                        <form id="c_form-h" class="" action="/login" method="POST">
                            <div class="form-group row">
                                <label for="inputaccountid" class="col-3 col-form-label text-nowrap">Email Address or
                                    ID:</label>
                                <div class="col-12">
                                    <input type="text" name="username" class="form-control" id="inputaccountid"
                                        placeholder="Email Address or ID" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputpasswordh" class="col-3 col-form-label text-nowrap">Password:</label>
                                <div class="col-12">
                                    <input type="password" name="password" class="form-control" id="inputpasswordh"
                                        placeholder="Password" required>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-outline-primary float-right ">Submit</button>
                            <a href="/passwordreset">I forgot my password</a>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>