<h1 class="text-center">Welcome to Clocker.in</h1>
<p class="lead">Welcome to the administration section of Clocker.in, from this page you are able to manage your
    Clocker.in
    enviroment using the navigation bar on the left.&nbsp;<br><br><b>Recent Releases:</b>
        <ul>
            <li>{{git.currentMessage}}</li>
            <li>{{git.last.message}}</li>
            <li>{{git.beforeLast.message}}</li>
        </ul>
        </b><br>
        <b>Upcoming updates:&nbsp;</b><br>No upcoming updates, please check in again
    later!&nbsp;
</p>