{{!-- Display each workplace that can be edited/deleted  --}}


<h1>Workplaces</h1>

{{> search-bar }}

<div class="col" id="entityContainer" style="overflow-y: scroll; overflow-x: hidden; max-height: 600px;">

    {{#each workplaces}}
        <div class="row py-2 border-bottom">
            <div class="col-1" style="color: #bdbdbd">
                <i class="fa fa-building fa-2x"></i>
            </div>
            <div class="col-8 searchable">
                {{ this.name }}
            </div>

            <div class="col-1">

            </div>
            
            <div class="col-1">
                    <a href="/workplaces/{{ this.id }}" class="btn btn-info">View</a>
            </div>

        </div>
    {{else}}
        <h3 class="mt-3">There are no workplaces. Please create one</h3>    
    {{/each}}



    {{!-- Workplaces --}}

</div>
<a href="/workplaces/create" class="btn btn-primary float-right mt-3" style="margin-bottom: 1%;">Create New</a>
