<h1>{{ this.wp.name }}</h1>
<form action="/workplaces/{{ this.wp.id }}" method="POST">
    <div class="row">

        <div class="col">
            <div class="form-group row">
                <label for="workplace-description" class="col-2 col-form-label">Description</label>
                <input type="text" name="description" class="form-control col-9" id="workplace-description"
                    placeholder="Description" value="{{ this.wp.description }}" readonly>
            </div>
        </div>

        <div class="col-1">
            <div class="form-group row">
                <input type="hidden" name="boundaries" id="boundaries-input" value="{{ this.wp.boundaries }}" required>
            </div>
        </div>
    </div>
</form>

<div id="map" style="width: 100%; height: 160%;"></div>

<div class="mt-3">
    <a class="btn btn-secondary form-control col-1 mx-1" href="/workplaces/">Back</a>
</div>

<!--Map Integration-->
{{!-- Leaflet CSS --}}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />

{{!-- Leaflet core --}}
<script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
    integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
    crossorigin=""></script>

{{!-- Leaflet Edit --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-editable/1.2.0/Leaflet.Editable.min.js"></script>

{{!-- Scripts to be imported for the workplace page --}}
<!-- <script src="/js/workplace-editor.js"></script> -->


<script>
    $(document).ready(function () {
        var map = L.map('map', {editable: true}).setView([0, 0], 13);
        var editableLayers = new L.FeatureGroup();
        map.addLayer(editableLayers);

        // Set up the OpenStreetMap layer
        L.tileLayer(
            'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: 'Data © <a href="http://osm.org/copyright">OpenStreetMap</a>',
            maxZoom: 18
        }).addTo(map);

    var coords = JSON.parse($('#boundaries-input').val());
    var polygon = L.polygon(coords).addTo(map);
    map.fitBounds(polygon.getBounds())
    });
</script>